*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100hv;
    background: rgb(202, 173, 202);
    background: radial-gradient(140 deg, white 0%, violet 90%);
}
.card {
    background: orange;
}
.active {
    background: green;
}
h1 {
    font-size: xx-large;
    color: rgb(120, 7, 124);
    border-color: darkcyan;
    text-align: justify;

}
.addTask button{
    margin: 0 10px;
    background: wheat;
    color:rgb(120, 7, 124);
    font-size: 18px;
    text-transform: uppercase;
    padding: auto;
    border-color: rgb(35, 158, 117);
    border-radius:10em;
    cursor: pointer;
}
}